In [18]:
import pandas as pd
import numpy as np

In [2]:
data1=pd.read_excel("Twitter_1data.xlsx")
data2=pd.read_excel("Twitter_2data.xlsx")
data3=pd.read_excel("Twitter_3data.xlsx")
data4=pd.read_excel("Twitter_4data.xlsx")
data5=pd.read_excel("Twitter_5data.xlsx")
data6=pd.read_excel("Twitter_6data.xlsx")
data7=pd.read_excel("Twitter_7data.xlsx")
data8=pd.read_excel("Twitter_8data.xlsx")
data9=pd.read_excel("Twitter_9data.xlsx")
data10=pd.read_excel("Twitter_10data.xlsx")
data11=pd.read_excel("Twitter_11data.xlsx")

In [10]:
data1.shape,data2.shape,data3.shape,data4.shape,data5.shape,data6.shape,data7.shape,data8.shape,data9.shape,data10.shape,data11.shape

((96, 12),
 (55, 14),
 (20, 15),
 (761, 14),
 (338, 26),
 (822, 11),
 (80, 12),
 (881, 12),
 (136, 10),
 (524, 10),
 (516, 13))

In [16]:
data1.columns,data2.columns,data3.columns,data4.columns,data5.columns,data6.columns,data7.columns,data8.columns,data9.columns,data10.columns,data11.columns

(Index(['created_at', 'reply_count', 'quote_count', 'url', 'views_count',
        'retweet_count', 'truncated_full_text', 'bookmark_count', 'full_text',
        'lang', 'favorite_count', 'Searched_keyword'],
       dtype='object'),
 Index(['created_at', 'url', 'reply_count', 'favorite_count', 'quote_count',
        'views_count', 'truncated_full_text', 'bookmark_count',
        'possibly_sensitive', 'lang', 'full_text', 'retweet_count', 'retweeted',
        'Searched_keyword'],
       dtype='object'),
 Index(['created_at', 'favorite_count', 'views_count', 'url', 'favorited',
        'quote_count', 'full_text', 'lang', 'bookmark_count', 'retweeted',
        'truncated_full_text', 'reply_count', 'retweet_count',
        'possibly_sensitive', 'Searched keyword'],
       dtype='object'),
 Index(['created_at', 'favorite_count', 'retweeted', 'views_count',
        'quote_count', 'possibly_sensitive', 'bookmarked', 'retweet_count',
        'url', 'truncated_full_text', 'reply_count', 'full_text', 'lang',
        'Keyword'],
       dtype='object'),
 Index(['created_at', 'favorited', 'quote_count', 'views_count',
        'truncated_full_text', 'bookmark_count', 'retweet_count',
        'possibly_sensitive', 'url', 'retweeted', 'reply_count',
        'favorite_count', 'bookmarked', 'lang', 'full_text', 'Unnamed: 15',
        'Unnamed: 16', 'Unnamed: 17', 'Unnamed: 18', 'Unnamed: 19',
        'Unnamed: 20', 'Unnamed: 21', 'Unnamed: 22', 'Unnamed: 23',
        'Unnamed: 24', 'Searched keyword'],
       dtype='object'),
 Index(['full_text', 'reply_count', 'url', 'retweet_count', 'bookmarked',
        'quote_count', 'views_count', 'retweeted', 'favorite_count', 'lang',
        'Searched_Keyword'],
       dtype='object'),
 Index(['lang', 'favorite_count', 'full_text', 'reply_count',
        'truncated_full_text', 'favorited', 'url', 'retweet_count',
        'quote_count', 'possibly_sensitive', 'views_count', 'Searched_keyword'],
       dtype='object'),
 Index(['created_at', 'quote_count', 'url', 'views_count', 'retweet_count',
        'truncated_full_text', 'bookmark_count', 'full_text', 'lang',
        'favorite_count', 'possibly_sensitive', 'Searched_keyword'],
       dtype='object'),
 Index(['url', 'views_count', 'retweet_count', 'truncated_full_text',
        'bookmark_count', 'full_text', 'lang', 'favorite_count',
        'possibly_sensitive', 'Searched_keyword'],
       dtype='object'),
 Index(['lang', 'full_text', 'bookmark_count', 'truncated_full_text',
        'retweet_count', 'views_count', 'url', 'quote_count', 'created_at',
        'Searched_keyword'],
       dtype='object'),
 Index(['created_at', 'lang', 'full_text', 'favorite_count', 'bookmark_count',
        'truncated_full_text', 'retweet_count', 'views_count', 'url',
        'quote_count', 'reply_count', 'possibly_sensitive', 'Searched_keyword'],
       dtype='object'))

In [23]:
col=['Unnamed: 15','Unnamed: 16', 'Unnamed: 17', 'Unnamed: 18', 'Unnamed: 19','Unnamed: 20', 'Unnamed: 21', 'Unnamed: 22', 'Unnamed: 23','Unnamed: 24']

In [24]:
data5=data5.drop(columns=col)

In [30]:
data5.columns

Index(['created_at', 'favorited', 'quote_count', 'views_count',
       'truncated_full_text', 'bookmark_count', 'retweet_count',
       'possibly_sensitive', 'url', 'retweeted', 'reply_count',
       'favorite_count', 'bookmarked', 'lang', 'full_text',
       'Searched keyword'],
      dtype='object')

In [37]:
drop_cols=['truncated_full_text','favorite_count','lang','reply_count']

In [45]:
data1_copy=data1[['url','full_text','retweet_count','views_count']]
data2_copy=data2[['url','full_text','retweet_count','views_count']]
data3_copy=data3[['url','full_text','retweet_count','views_count']]
data4_copy=data4[['url','full_text','retweet_count','views_count']]
data5_copy=data5[['url','full_text','retweet_count','views_count']]
data6_copy=data6[['url','full_text','retweet_count','views_count']]
data7_copy=data7[['url','full_text','retweet_count','views_count']]
data8_copy=data8[['url','full_text','retweet_count','views_count']]
data9_copy=data9[['url','full_text','retweet_count','views_count']]
data10_copy=data10[['url','full_text','retweet_count','views_count']]
data11_copy=data11[['url','full_text','retweet_count','views_count']]

In [48]:
data1_copy.shape,data2_copy.shape,data3_copy.shape,data4_copy.shape,data5_copy.shape,data6_copy.shape,data7_copy.shape,data8_copy.shape,data9_copy.shape,data10_copy.shape,data11_copy.shape

((96, 4),
 (55, 4),
 (20, 4),
 (761, 4),
 (338, 4),
 (822, 4),
 (80, 4),
 (881, 4),
 (136, 4),
 (524, 4),
 (516, 4))

In [49]:
96+55+20+761+338+822+80+881+136+524+516

4229

In [53]:
concatenated_df = pd.concat([data1_copy, data2_copy, data3_copy,data4_copy,data5_copy,data6_copy,data7_copy,data8_copy,data9_copy,data10_copy,data11_copy], ignore_index=True)

In [54]:
concatenated_df.head()

,url,full_text,retweet_count,views_count
0,https://twitter.com/TheReportify/status/174739...,JUST IN: Joni Simpson appointed as Director fo...,0,35
1,https://twitter.com/ILOColombo/status/17472135...,The @ilo country office for #SriLanka and the ...,1,1369
2,https://twitter.com/Juliett59778255/status/172...,Biden spending $17 million on 'social cohesion...,1,6
3,https://twitter.com/Real_AnTheFacts/status/172...,WASTE OF THE DAY: Throwing $17 million of taxp...,41,2028
4,https://twitter.com/kunleaden/status/172472393...,At the ongoing 7th Asia Pacific Population Con...,5,569

In [55]:
concatenated_df.shape

(4229, 4)

In [56]:
concatenated_df.tail()

,url,full_text,retweet_count,views_count
4224,https://twitter.com/equality_yuijo/status/1749...,@DJShacho_Foxx @bacara_brave9_0 お願いします,0,21
4225,https://twitter.com/MediaActive/status/1749674...,Just one of the countless reasons @ScottMorris...,0,55
4226,https://twitter.com/Scholarsvision/status/1749...,@bluprint7g are we no longer seeking for equal...,0,8
4227,https://twitter.com/Spiritofgaia0/status/17496...,The Blairite Equality Act is Ruining Britain h...,0,13
4228,https://twitter.com/youngJetli_/status/1749674...,Gender Equality in Leadership: Assess Murang'a...,0,1

In [57]:
concatenated_df.to_csv('Twitter_combined_data.csv', index=False)

In [58]:
t=pd.read_csv('Twitter_combined_data.csv')

In [59]:
t.shape

(4229, 4)